body{
    margin: 0;
    padding: 0;
}
@font-face{
    font-family: Gobold;
    src: url("../font/Gobold\ Regular.otf") format("opentype");
}
@font-face{
    font-family: Releway;
    src: url("../font/Raleway-SemiBold.ttf") format("opentype");
}
.titulo{
    font-family: Gobold;
}
.texto{
    font-family: Releway;
}
.icon{
    width: 65px;
}
.justify{
    text-align: justify;
}
.pescadores-color-texto{
    color: #f68820;
}
.pescadores-color-background{
    background-color: #f68820;
}
.pescadores-color-background-opacity{
    background-color: rgba(246, 136, 32, 0.7);
}
.pescadores-color-background-azul{
    background-color: #32c0c3;
}
.pescadores-color-background-azul-opacity{
    background-color: rgba(50, 192, 195,.7);
}
.galeria{
    padding-bottom: 25px;
    padding-top: 25px;
    margin-top: 0;
}
.contacto{
    padding-top: 1px;
    padding-bottom: 15px;
}
.escucharte{
    margin-top: 0;
}
.input-field input[type=text] {
    border: 2px solid #f68820;
    border-radius: 4px;
    background-color: white;
}
.input-field input[type=email] {
    border: 2px solid #f68820;
    border-radius: 4px;
    background-color: white;
}
.input-field textarea {
    border: 2px solid #f68820;
    border-radius: 4px;
    background-color: white;
}
.row .input-field input:focus {
    border-bottom: 1px solid #f68820 !important;
    box-shadow: 0 1px 0 0 #f68820 !important
}
.row .input-field textarea:focus {
    border-bottom: 1px solid #f68820 !important;
    box-shadow: 0 1px 0 0 #f68820 !important
}
.input-field input[type=text].valid {
    border-bottom: 1px solid #f68820;
    box-shadow: 0 1px 0 0 #f68820;
}
.input-field input[type=email].valid {
    border-bottom: 1px solid #f68820;
    box-shadow: 0 1px 0 0 #f68820;
}
.input-field label {
    color: #000;
}
.row .input-field label:focus {
    color: #000;
}
.spacing50{
    height: 50px;
}
.spacing100{
    height: 100px;
}
.btn:hover{
    background-color: #f68820;
}
.slider .slides li .caption{
    width: 100%;
    left: 0%;
}
.nosotros{
    background-image: url(../images/textura-1200px.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.galery{
    margin-top: -13px;
}
.btn, .btn-large, .btn-small{
    background-image: url(../images/texturades.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #000;
}
.btn, .btn-large, .btn-small, .btn-flat{
    height: 60px;
}
.contac{
    background-image: url(../images/Fondo-Cpntacto.png);
    background-repeat: no-repeat;
    background-size: cover;
}
@media only screen and (max-width: 1200px){
    .show-on-large-and-down{
        display:block !important
    }
    .hide-on-extra-and-down{
        display: none !important
    }
}
@media only screen and (min-width: 1680px){
    .show-on-xxlarge{
        display: block !important;
        margin:0 auto;
        width: 90%;
    }
    nav{
        width: 90%;
    }
}